<div class="container ">

                <h1>EZscrapper</h1>
                <h3>Find ideas to get out of the house</h3>
                <hr>
<a class="btn btn-primary" href="/eventbrigh" role="button">Event Bright</a>
<a class="btn btn-primary" href="/stanford" role="button">Stanford</a>
<a class="btn btn-primary" href="/meetup" role="button">Meetup</a>
<br />
<br />
<br />
</div>